# Python
pip-tools
nbqa  # run python code tests on .ipynb
autoflake
black
black[d]
black_nbconvert  # for formatting .ipynb
isort

# ipython
ipython
jedi
parso
# Note, there was a bug in ipython <tab> completion.
# See: https://github.com/ipython/ipython/issues/12745
# jedi==0.17.2
# parso==0.7.1

# python typing
pyre-check
mypy

# Testing
pytest
pytest-testmon
pytest-custom-exit-code  # --suppress-no-test-exit-code
pytest-skip-slow
# pytest-xdist
PyHamcrest
testfixtures

# numpy
numpy
nptyping
scipy

# Pandas
pandas
pandas-stubs

# pytorch
# pytorch with cu111 builds.
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.10.1+cu111
torchvision==0.11.2+cu111
torchaudio==0.10.1+cu111

pytorch-lightning

# tensorboard
tensorboard
tensorboard-plugin-profile

# jupyter
jupyter

# jupyter-tensorboard shold not be needed / doesn't work right.
# https://github.com/tensorflow/tensorboard/issues/3145
# https://github.com/lspvic/jupyter_tensorboard/issues/55
# jupyter-tensorboard

# graphviz stuff
graphviz
pydot

# graphing
matplotlib
