# AI
#tensorflow
tf-nightly
numpy

# used by tf.imagedatagen
scipy

# todo: numpy.typing in numpy1.19
# blocked by: tensorflow requires numpy<1.19.0
nptyping

# Notebooks
jupyter
matplotlib

# Python
pip-tools

yapf
isort

mypy
mypy-extras

# Testing
pytest
PyHamcrest
testfixtures


