# The requirements file is bound by a .gitignored local 'constraints.in' file.
# If you need to specify a special version of pytorch, that is the location
# to add the links to.
-c constraints.in

# torch
torch
torchaudio
torchvision

# Python
pip-tools
nbqa  # run python code tests on .ipynb
autoflake
black
black[d]
black_nbconvert  # for formatting .ipynb
isort

# ipython
ipython
jedi
parso
# Note, there was a bug in ipython <tab> completion.
# See: https://github.com/ipython/ipython/issues/12745
# jedi==0.17.2
# parso==0.7.1

# python typing
pyre-check
mypy

# Testing
pytest
pytest-forked  # for pytest.mark.forked, permitting fork-boxing of tests.
pytest-testmon
pytest-custom-exit-code  # --suppress-no-test-exit-code
pytest-skip-slow
# pytest-xdist
PyHamcrest
testfixtures

# See: https://github.com/google/jax#pip-installation-cpu
# If you want to install one of the jax[cuda] packages,
# You need a working jax toolchain for cuda.
#
# See: https://github.com/google/jax#pip-installation-gpu-cuda
#
# for System76 Pop!_OS:
# 1) `sudo apt-get install $(cat system76_cuda_apt.txt)`
#
# 2) Add to "constraints.in":
#   # https://github.com/google/jax#pip-installation-gpu-cuda
#   -f https://storage.googleapis.com/jax-releases/jax_releases.html
#   jax[cuda]
jax

# numpy
numpy
nptyping
scipy

# Pandas
pandas
pandas-stubs

# pytorch
# pytorch with cu111 builds.
torch
torchvision
torchaudio

pytorch-lightning

# tensorboard
tensorboard
tensorboard-plugin-profile

# jupyter
jupyter

# jupyter-tensorboard shold not be needed / doesn't work right.
# https://github.com/tensorflow/tensorboard/issues/3145
# https://github.com/lspvic/jupyter_tensorboard/issues/55
# jupyter-tensorboard

# graphviz stuff
graphviz
pydot

# graphing
matplotlib
